<IfModule mod_rewrite.c>
  RewriteEngine On
RewriteBase /gestor_clientes_pedidos_react/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /gestor_clientes_pedidos_react/index.html [L]
</IfModule>